.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-image: url("https://images.unsplash.com/photo-1503146234394-631200675614?ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80");
}

.search-form{
  min-height: 10vh;
  min-width: 100vh;
  display: flex;
  justify-items: center;
  align-items: center;
}

.search-bar{
  width: 100%;
  border: none;
  padding: 10px;
}

.search-button{
  background: lightskyblue;
  padding: 10px 20px;
  color: white;
}

.see-more-button{
  background: lightskyblue;
  padding: 10px 20px;
  color: white;
}

.recipes{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  opacity: 0.8;
}

h1 {
  color: white;
  font-size: 3rem;
  font-weight: 800;
}

.btn-close-modal{
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #ed3330;
  padding: 5px;
  border-radius: 5px;
  display: inline-block;
  border: none;
  transition: all 0.4s ease 0s;
  cursor: pointer;
}

.btn-close-modal:hover {
  background: #434343;
  letter-spacing: 1px;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
  transition: all 0.4s ease 0s;
  cursor: pointer;
}